/* .......Shared style......... */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
:root {
  --secondary-color: #534c64;
  --tertiary-color: #0b0223;
}
.primary-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray-text {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.btn-primary {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  padding: 21px 40px;
  border: none;
}
.game-link-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  padding: 10px 20px;
  color: #0b0223;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.game-link-btn:hover {
  color: #ff42a5;
  border: 2px solid #ff42a5;
}
.game-link-btn img {
  margin-right: 10px;
}
/* ......Navbar style...... */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 240px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo-title {
  color: var(--tertiary-color);
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 20px;
}
nav .logo-title span {
  color: #ff42a5;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.13rem;
  font-weight: 500;
  color: var(--secondary-color);
}
nav ul li {
  margin-right: 30px;
}
.nav-btn {
  color: var(--secondary-color);
  font-size: 1.13rem;
  font-weight: 500;
  border-radius: 8px;
  padding: 17px 24px;
  background: rgba(11, 2, 35, 0.1);
  border: none;
}
/*........ Banner style .........*/
.banner {
  background-image: url("./images/Group 14.png");
  background-repeat: no-repeat;
  /* max-width: 1920px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-contents {
  margin: 0 auto;
}
.banner-img {
  padding-right: 200px;
}
.banner-contents h2 {
  color: var(--tertiary-color);
  font-size: 3rem;
  font-weight: 600;
}
.banner-contents h1 {
  font-size: 5.85rem;
  font-weight: 800;
}
.banner-contents p {
  color: #534c64;
  margin-top: 17px;
  font-size: 1.25rem;
  font-weight: 500;
}
.btn-blue {
  color: white;
  border-radius: 48px;
  font-size: 1.25rem;
  font-weight: 600;
  background: #4ec5f7;
  padding: 21px 40px;
  margin-left: 10px;
  border: none;
}
.banner-button {
  margin-top: 18px;
}
/*........... We are Gamer section style ...............*/
.we-are-gamer {
  display: flex;
  align-items: center;
  padding: 55px 200px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
}
.gamer-contents {
  text-align: end;
  padding-left: 10px;
  padding-bottom: 20px;
}
.gamer-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.gamer-contents button {
  margin-top: 30px;
  margin-bottom: 30px;
}
.gamer-contents span {
  font-size: 1.5rem;
  font-weight: 600;
}
.gamer-img {
  max-width: 100%;
}
/*...........  Online Games Funny Videos section style...........*/
.funny-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}
.funny-description {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 48px;
}
.funny-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 120px;
}
.funny-card {
  width: 342px;
  height: 400px;
  border-radius: 16px;
}
/* Play Instantly section style */
.play-instantly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 170px 200px;
  gap: 100px;
}
.play-contents {
  padding: 20px;
  margin-bottom: 380px;
  text-align: right;
}
.play-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
}
.play-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-1 {
  height: 90%;
  margin-left: 90px;
}
.img-2 {
  width: 318px;
  height: 365px;
  border: 8px #fff;
  position: relative;
  bottom: 300px;
}
/* Play Games Online Anywhere, Anytime! */
.play-online {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
  gap: 100px;
}
.play-contents-online {
  padding: 20px;
  margin-bottom: 380px;
  text-align: start;
}
.img-3 {
  height: 90%;
  margin-right: 90px;
}
.img-4 {
  width: 318px;
  height: 365px;
  border: 8px #fff;
  position: relative;
  bottom: 300px;
  margin-left: 500px;
}
/* All Games Links Section */
.all-games-link {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 28px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  max-width: 1920px;
  max-height: 427px;
  padding: 120px 240px;
}
/* ......Footer styling...... */
footer {
  max-width: 1920px;
  max-height: 636px;
  background: #0b0223;
  padding: 120px 500px;
  margin: 0 auto;
  text-align: center;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .logo-title {
  color: white;
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 20px;
}
footer .logo-title span {
  color: #ff42a5;
}
.footer-text {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 50px;
}
.footer-icons ul {
  font-size: 2.6rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  margin-top: 66px;
  gap: 40px;
}
.footer-icons li {
  list-style: none;
}
.footer-icons li a {
  color: white;
}
.settings {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
/* Carrers Styling */
.careers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  color: white;
}
.careers-contents {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 240px;
}
.careers-contents h2 {
  font-size: 3rem;
  line-height: 60px;
}
.careers-contents p {
  font-size: 1.12rem;
  margin-bottom: 32px;
}
.career-point {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}
.careers-contents button {
  background-color: white;
  color: #f948b2;
  padding: 21px 40px;
  border-radius: 48px;
  font-size: 1.25rem;
  align-items: flex-start;
  margin-top: 60px;
  border: none;
}
/* image overly */

.container {
  position: relative;
}

/* .image {
  display: block;
  width: 100%;
  height: auto;
} */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 16px;
  border: 2px solid #ff42a5;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ........ Responsive Design ......... */

/* Mobile device */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    /* box-shadow: none; */
  }
  nav ul {
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
  }
  .banner {
    background-image: none;
    flex-direction: column-reverse;
    margin: 20px;
  }
  .banner-contents {
    margin-top: 50px;
  }

  .banner-img,
  .careers-img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 50px;
  }
  .we-are-gamer,
  .funny-cards,
  .funny-videos,
  .careers {
    flex-direction: column;
    padding: 0;
    margin: 20px;
  }
  .gamer-img {
    max-width: 100%;
    height: auto;
  }
  .gamer-contents {
    text-align: center;
    padding: 20px;
  }
  .funny-card img {
    max-width: 100%;
    height: auto;
  }
  .funny-cards {
    gap: 90px;
  }
  .play-instantly {
    flex-direction: column;
    padding: 0;
    margin: 20px;
    margin-top: 150px;
    gap: 20px;
  }
  .feature-img .img-1 {
    width: 70%;
    /* margin-right: 10px; */
  }
  .feature-img .img-2 {
    width: 40%;
    height: auto;
    position: relative;
    bottom: 100px;
  }
  .play-contents {
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
  }
  /* Play Games Online Anywhere, Anytime! */
  .play-online {
    flex-direction: column-reverse;
    padding: 0;
    margin: 20px;
    margin-top: 5px;
    gap: 20px;
  }
  .play-contents-online {
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
  }
  .feature-img-2 .img-3 {
    width: 70%;
  }
  .feature-img-2 .img-4 {
    width: 40%;
    height: auto;
    position: relative;
    bottom: 150px;
    margin-left: 230px;
  }
  /* All game link */
  .all-games-link {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
  }
  .game-link-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 3px 45px 3px 5px;
    font-weight: 600;
  }
  .game-link-btn img {
    width: 50%;
    height: auto;
    margin-right: 5px;
  }
  /* ......Footer styling...... */
  footer {
    max-width: 1920px;
    max-height: 636px;
    padding: 20px;
    margin: 0 auto;
  }
  .footer-text {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    font-size: 1.25rem;
    margin-top: 50px;
  }
  .footer-icons ul {
    font-size: 2.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 50px;
    gap: 15px;
  }
  .settings {
    grid-template-columns: repeat(2, 1fr);
  }
  .careers {
    border-radius: 20px;
  }
  .careers button {
    padding: 10px 15px;
  }
  .careers-contents {
    padding: 5px;
  }
}

/* Tab Device */
@media screen and (min-width: 577px) and (max-width: 960px) {
  nav {
    padding: 20px;
  }
  .banner {
    background-image: none;
    flex-direction: column-reverse;
    margin: 20px;
  }
  .banner-contents {
    margin-top: 50px;
  }

  .banner-img,
  .careers-img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 50px;
  }
  .we-are-gamer,
  .funny-cards,
  .careers {
    flex-direction: column;
    padding: 0;
    margin: 20px;
  }
  .gamer-img {
    max-width: 100%;
    height: auto;
  }
  .gamer-contents {
    text-align: center;
  }
  .funny-card img {
    max-width: 100%;
    height: auto;
  }
  .funny-cards {
    gap: 90px;
  }
  .play-instantly {
    flex-direction: column;
    padding: 0;
    margin: 20px;
    margin-top: 90px;
    gap: 20px;
  }
  .feature-img .img-1 {
    width: 80%;
    /* margin-right: 10px; */
  }
  .feature-img .img-2 {
    width: 40%;
    height: auto;
    position: relative;
    bottom: 200px;
  }
  .play-contents {
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
  }
  /* Play Games Online Anywhere, Anytime! */
  .play-online {
    flex-direction: column-reverse;
    padding: 0;
    margin: 20px;
    margin-top: 5px;
    gap: 20px;
  }
  .play-contents-online {
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
  }
  .feature-img-2 .img-3 {
    width: 80%;
  }
  .feature-img-2 .img-4 {
    width: 40%;
    height: auto;
    position: relative;
    bottom: 190px;
    margin-left: 370px;
  }
  /* All game link */
  .all-games-link {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
  }
  .game-link-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    font-size: 0.8rem;
    padding: 3px 45px 3px 5px;
    font-weight: 600;
  }
  .game-link-btn img {
    width: 50%;
    height: auto;
    margin-right: 5px;
  }
  /* ......Footer styling...... */
  footer {
    max-width: 1920px;
    max-height: 636px;
    padding: 20px;
    margin: 0 auto;
  }
  .footer-text {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    font-size: 1.25rem;
    margin-top: 50px;
  }
  .footer-icons ul {
    font-size: 2.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 50px;
    gap: 15px;
  }
  .settings {
    grid-template-columns: repeat(2, 1fr);
  }
  .careers {
    border-radius: 20px;
  }
  .careers button {
    padding: 10px 15px;
  }
  .careers-contents {
    padding: 15px;
  }
}
